<h1>Edit Paper</h1>
 

<%= render 'form', paper: @paper %>

<%= form_with(model: @paper, local: true) do |form| %>
<p>
    <%= form.select 'author_ids',
    options_from_collection_for_select(Author.all, :id, :name, @paper.author_ids),
    {},
    multiple: true, size: 10 %>
 <p>

 
<p>
 <%= form.submit %>
</p>

<% end %>